.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card {
  box-shadow: 0 0 5px rgba(70, 67, 67, 0.4);
  text-align: center;
  padding: 20px;
  border-radius: 3px;
}

.card img {
  width: 200px;
  height: 100px;
}

.card p {
  opacity: 0.5;
}
